
body{
	background-image:url(assets/images/rainbows.png);
	background-repeat:repeat;
}

.navlinks{
	float:left;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding:10px;
}
#indexContainer{
	margin-top: 140px;
    background: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #dddddd;
}
#profile{
	float:left;
}
#adLorem{
	float:none;
}
#projectContainer{
	margin-top: 140px;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
    background: #ffffff;
}
#formContainer{
	margin-top:135px;
}
#contactContainer{
	margin-top: 140px;
    margin-left: 45px;
    border-style: solid;
    border-color: #dddddd;
    border-width: thin;
    background: #ffffff;
    width: 250px;
    height: auto;
    text-align:center;
}
#github{
	width:100%;
}
#linkedin{
	width:100%;
}
#stackover{
	width:100%;
}

#footer{
	text-align:center;
}